#home{
    .content{
        position: relative;
        img{
            width: 100%;
        }
        .btn-field{
            display: flex;
            position: absolute;
            right: 32%;
            top: 43%;
            width: 18%;
            .btn{
                margin-right: 5%;
                .default{
                    display: block;
                }
                .hover{
                    display: none;
                }
                &:hover{
                    .default{
                        display: none;
                    }
                    .hover{
                        display: block;
                    }
                }
                img{
                    width: 100%;
                }
            }
        }
    }
}